* {
	margin: 0;
	padding: 0;
}
body {
    background-image: url("../images/background.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
	font-family: 'Poppins', sans-serif;
}

.menu-area{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background: transparent;
    color: #fff;
    padding: 1em;
    flex: 3;
}

.menu-area > ul{
    list-style: none;
    padding: 0;
    margin: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex: 3;
}

.menu-area li {
    margin-right: 1em;
}

ul li:nth-child(1){
    font-size: 30px;
    text-transform: uppercase;
    font-family: baloo;
}
ul li:nth-child(2), ul li:nth-child(3), ul li:nth-child(4){
    padding: 10px 0;
    font-family: poppins;
} 
.banner-text{
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: big john;
    text-align: center;
}
.banner-text h1{
    font-size: 70px;
    margin: 0%;
}

/* btn css */
button{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: none;
    color: #ccc;
    width: 240px;
    height: 80px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

button:focus{
    outline: none;
}

button::before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translate(-130px) skew(-15deg);
}

button::after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) skew(-15deg);
}

button::hover{
    background: #333333;
    cursor: pointer;
}
button::before{
    transition: .7s;
    opacity: .6;
    transform: translate(300px) skew(-15deg);
}
button::after{
    transition: .7s;
    opacity: 1;
    transform: translate(300px) skew(-15deg);
}


/*Responsive css  */
@media screen and (max-width: 575px){
    .menu-area{
        flex-direction: column;
    }
    .menu-area ul{
        flex-direction: row;
        margin-bottom: 1em;
    }
    .menu-area li{
        margin-right: 0.7em;
    }
    .banner-text{
        font-size: 40px;
    }
} 











